p {
  margin: 10px;
}

@media (max-width: 767px) {

  .load-page div {
    width: 90%;
  }

  /*Forms*/

  .form-display-div {
    height: 468px;
    width: 368px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  /* Game Menu */

  .game-menu-div {
    height: 468px;
    width: 368px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .gm-items-div div {
    width: 100%;
    margin-bottom: 10px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0px 3px 6px rgba(135, 206, 250, 0.8);
  }

  /* Role Select */

  .role-select-div {
    height: 500px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  /* Landing */

  .landing-div {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  /* Game screen */

  .game-screen-div {
    width: 100vw;
    min-height: 600px;
    height: 80vh;
    margin-top: 80px;
  }

  /* Screen Navbar */

  .gs-navbar {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-bottom: 1px solid #e0e0e0;
    cursor: pointer;
  }

  .gs-navbar div {
    margin-bottom: 10px;
    border-radius: 10px;
    width: 100px;
    text-align: center;
    box-shadow: 0px 3px 6px rgba(135, 206, 250, 0.8)
  }

  /* Toasties */

  .toasty-div {
    background-color: white;
    border: 1px solid rgba(135, 206, 250, 1);
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 20px;
    text-align: center;
  }

  .inventory-toasty-div {
    background-color: white;
    border: 1px solid rgba(135, 206, 250, 1);
    width: 100vw;
    height: 60vh;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .store-toasty-div {
    background-color: white;
    border: 1px solid rgba(135, 206, 250, 1);
    width: 100vw;
    height: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 10px;
  }

  .cart-toast {
    position: absolute;
    border-radius: 20px;
    bottom: 40vh;
    height: 280px;
    width: 100vw;
    background-color: white;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .instructions-toast {
    height: 90vh;
    width: 90vw;
    background-color: white;
    border: 1px solid rgba(135, 206, 250, 1);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  /* Fights */

  .fight-div {
    height: 100%;
    width: 90vw;
  }

  /* Ending */

  .ending-div {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .ending-div button{
    margin-top: 10px;
  }



}

@media (min-width: 768px) {

  .load-page div {
    width: 50%;
  }

  /*Forms*/

  .form-display-div {
    height: 468px;
    width: 368px;
    border: 1px solid #e0e0e0;
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: box-shadow 0.5s ease-out;
  }

  .form-display-div:hover {
    border: none;
    box-shadow: 0px 6px 12px rgba(135, 206, 250, 0.8);
  }

  /* Game Menu */

  .game-menu-div {
    height: 468px;
    width: 368px;
    border: 1px solid #e0e0e0;
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: box-shadow 0.5s ease-out;
  }

  .game-menu-div:hover {
    border: none;
    box-shadow: 0px 6px 12px rgba(135, 206, 250, 0.8);
  }

  .gm-items-div div {
    transition: 0.1s ease-out;
    cursor: pointer;
  }

  .gm-items-div div:hover {
    transform: scale(1.2);
  }

  /* Role Select */

  .role-select-div {
    height: 468px;
    width: 368px;
    border: 1px solid #e0e0e0;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: box-shadow 0.5s ease-out;
  }

  .role-select-div:hover {
    border: none;
    box-shadow: 0px 6px 12px rgba(135, 206, 250, 0.8);
  }

  /* Landing */

  .landing-div {
    height: 100%;
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  /* Game screen */

  .game-screen-div {
    height: 80vh;
    width: 90vw;
    border: 1px solid #e0e0e0;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: box-shadow 0.5s ease-out;
  }

  /* Screen Navbar */

  .gs-navbar {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 8%;
    border-bottom: 1px solid #e0e0e0;
    cursor: pointer;
  }

  .gs-navbar div:hover {
    color: #87CEFA;
  }

  /* Toasties */

  .toasty-div {
    background-color: white;
    border: 1px solid rgba(135, 206, 250, 1);
    width: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 20px;
    text-align: center;
  }

  .inventory-toasty-div {
    background-color: white;
    border: 1px solid rgba(135, 206, 250, 1);
    width: 500px;
    height: 50vh;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .store-toasty-div {
    background-color: white;
    border: 1px solid rgba(135, 206, 250, 1);
    width: 500px;
    height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .cart-toast {
    position: absolute;
    border-radius: 20px;
    bottom: 40vh;
    height: 280px;
    width: 400px;
    background-color: white;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .instructions-toast {
    width: 500px;
    height: 80vh;
    background-color: white;
    border: 1px solid rgba(135, 206, 250, 1);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }



  /* Fights */

  .fight-div {
    height: 100%;
    width: 70%;
  }

  @keyframes pulse {
    0% {

      box-shadow: 0 0 0 0 rgba(135, 206, 250, 0.8);
    }

    70% {
      box-shadow: 0 0 0 50px rgba(135, 206, 250, 0);
    }

    100% {}

  }

}

@media (max-width: 991px) {}

@media (min-width: 992px) {}

.app-structure-div {
  height: 100vh;
  width: 100vw;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.app-structure-heading-div {
  position: absolute;
  top: 0;
}

/* Buttons */

.buttonsAuth {
  background-color: transparent;
  height: 38px;
  width: 100%;
  border: 1px solid #e0e0e0;
  box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  font-weight: bold;
}

.buttonsAuth:hover {
  border: 1px solid rgba(135, 206, 250, 0.5);
  box-shadow: 0px 6px 12px rgba(135, 206, 250, 0.5);
}

.buttonsNavigate {
  border-radius: 5px;
  background-color: transparent;
  height: 48px;
  width: 128px;
  border: 1px solid #e0e0e0;
  box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

.buttonsNavigate:hover {
  border: 1px solid rgba(135, 206, 250, 0.5);
  box-shadow: 0px 6px 12px rgba(135, 206, 250, 0.5);
}

.buttons-selection {
  border-radius: 5px;
  background-color: transparent;
  height: 48px;
  width: 68px;
  border: 1px solid #e0e0e0;
  box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

.buttons-selection:hover {
  border: 1px solid rgba(135, 206, 250, 0.5);
  box-shadow: 0px 6px 12px rgba(135, 206, 250, 0.5);
  color: lightblue;
}

/* Forms */

.fd-heading-div {
  width: 100%;
  height: 10%;
  text-align: center;
}

.fd-form-div {
  width: 100%;
  height: 70%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.fd-navigation-div {
  width: 85%;
  height: 20%;
  text-align: center;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.fd-link-div {
  width: 100%;
  height: 8%;
  text-align: center;
}

.forms-input-div {
  height: 58px;
  width: 280px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.forms-input-div input {
  border-radius: 5px;
  height: 38px;
  border: 1px solid #e0e0e0;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.3) inset;
  width: 100%;
  text-align: center;
  padding: 0;
}

.forms-error-div {

  height: 18px;
  width: 280px;
  color: red;
}

/* Game-menu */

.game-versionnotes-div {
  width: 80%;
  height: 10%;
}

.gm-items-div {
  width: 80%;
  height: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* Role Select */

.role-heading-div {
  height: 10%;
  width: 100%;
  text-align: center;
}

.roles-div {
  width: 90%;
  height: 90%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.role-display {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.role-display div {
  width: 100px;
  text-align: center;
}

/* Human Dashboard */

.human-dashboard-div {
  height: 22%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 1px solid #e0e0e0;
}

.hd-button-div {
  width: 160px;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Inventory */

.inventory-toasty-div h3 {
  margin: 5px;
}

.inventory-display {
  width: 92%;
  height: 76%;
  overflow-y: auto;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.inventory-display div {
  width: 120px;
  height: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 8px;
  border: 1px solid #87CEFA;
  border-radius: 10px;
}

/* Store */

.store-toasty-div h3 {
  margin: 5px;
}

.store-toasty-div h4 {
  margin: 5px;
}

.store-playergold-div {
  width: 90%;
  color: #87CEFA;
}

.store-display {
  width: 92%;
  height: 80%;
  overflow-y: auto;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-bottom: 10px;
}

.store-display div {
  width: 120px;
  height: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 8px;
  border: 1px solid #87CEFA;
  border-radius: 10px;
}

.store-display div p {
  margin: 5px;
}

.cart-display {

  width: 100%;
  height: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cart-display div {
  width: 50%;
}

/* Screen Interface */

.screen-interface-div {
  height: 70%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Path Choices */

.path-choice-div {
  height: 100%;
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.path-choice-div div {
  width: 100%;
  height: 30%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

/* FIGHTS */

.enemyfight-div {
  height: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
}

.enemy-display-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.playerfight-div {
  height: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.comments-enemyfight-div {
  height: 60px;
  font-weight: bold;
}

.comments-playerfight-div {
  width: 300px;
  height: 60px;
  font-weight: bold;
}

/* Instructions */

.instructions-div {
  width: 90%;
  height: 80%;
  overflow-y: auto;
}





/* Toasties */

.toasty-toast {
  top: 0;
  left: 0;
  position: fixed;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.toasty-2buttons-div {
  width: 100%;
  display: flex;
  justify-content: space-around;
}



/* Authentication Effects */

@keyframes shakeError {
  0% {
    transform: translateX(0);
  }

  25% {
    transform: translateX(-5px);
  }

  50% {
    transform: translateX(5px);
  }

  75% {
    transform: translateX(-5px);
  }

  100% {
    transform: translateX(0);
  }
}

.inputError {
  animation: shakeError 0.3s ease-in-out;
  border: 1px solid red;
}

/* Loader */
@keyframes l1 {
  100% {
    background-size: 100%
  }
}

.loader {
  justify-self: center;
  height: 2px;
  width: 100%;
  border-radius: 10px;
  background:
    linear-gradient(#000 0 0) 0/0% no-repeat #ddd;
  animation: l1 1s infinite linear;
}

.load-page {
  position: fixed;
  background-color: white;
  height: 100vh;
  width: 100vw;
  top: 0;
  left: 0;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}